<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="./assets/f1.jpg" class="d-block w-100 img1 " alt="...">
        <div class=" hero-slider-content carousel-caption d-none d-md-block  text-start text-white">
          <h5 class="headh">Architecture is a <br> Visual Art. </h5> <br>
          <p class="fhp"> The buildings speak themselves</p>
          <!-- Button trigger modal -->
          <button type="button" class="btn1"> Check Art</button>

        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="./assets/2.jpg" class="d-block w-100 img1" alt="...">
        <div class=" hero-slider-content carousel-caption d-none d-md-block  text-start text-white">
          <h5 class="headh1"> Architecture is a <br> Visual Art. </h5> <br>
          <p class="fhp1"> The buildings speak themselves</p>
          <!-- Modal --> <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Check Art
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="section1">
    <div class="container ">
      <div class="row ">
        <div class="col-lg-6 col-md-12 section1sub">
          <img src="./assets/5.png" alt="" style="height: 500px; width: 430px;">
        </div>

        <div class="col-lg-6 col-md-12 section1sub2 ">
          <h2 class="sub2h">Any Complexity <br>
            For Any Cat</h2>
          <hr class="fhr">
          <p class="sub1fp">Our company has many years experience and specializes in manufacturing, salling, serviceing
            <br> and repairing cardan shafts (cardans) for various vehicles, technological equipment, tractor, special
            machinery and agricultural machinery of verious domestic and foreign manufacturers.
          </p>
          <button type="button" class="btnabout"> About Us</button>
        </div>
      </div>
    </div>
  </div>
 
<div id="section2">
  <div class="row ">
    <div class="col-lg-12 col-md-12 align-items-center">
 <p style=" margin-top:20px; color:rgba(255, 255, 255, 0.103);font-weight: 600; font-size: 60px;text-align: center;">SPECIALIZATION</p>
  <p style=" margin-top:-77px;text-align: center; font-size:25px;color: rgb(255, 255, 255); font-weight: 600;">Our Specialization</p>
</div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 ">
        <div class="card" style="width: 23rem; margin-left: -13px;  height: 500px;">
          <img src="./assets/14.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="" style="color: rgb(10, 10, 10);">Architectural Design</a></h5><br>
            <p class="card-text">Architectural design is a discipline that focuses on covering and meeting the needs and demands, to create living spaces, using certain tools and especially, creativity.</p>
            <a href="#" class="btn more"><b>Learn More</b></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 23rem; margin-left: -7px;  height:500px;">
          <img src="./assets/13.jpg" class="card-img-top" alt="...">
          <div class="card-body">
         <h5 class="card-title"><a href="" style="color: black;">Corporate Design</a></h5><br>
            <p class="card-text">Corporate design is a part of corporate branding, alongside corporate identity and corporate communications.  It comprises the visual and linguistic staging of the brand.</p>
            <a href="#" class="btn more"><b>Learn More</b></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 23rem; height: 500px; margin-left: -1px; ">
          <img src="./assets/12.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="" style="color: black;">Interior Design</a></h5>
            <br>
            <p class="card-text">
              Interior designers make interior spaces functional, safe, and beautiful for almost every type of building. Interior designers make indoor spaces functional and safe.</p>
            <a href="#" class=" btn more"><b>Learn More</b></a>
          </div>
        </div>
      </div>
    </div> <br> <br> <br>
  </div>
</div>  
<div id="section3">
  <div class="row ">
    <div class="col-lg-12 col-md-12 align-items-center">
 <p style=" margin-top:20px; color:rgba(14, 13, 13, 0.13);font-weight: 600; font-size: 60px;text-align: center;">PROJECT</p>
  <p style=" margin-top:-77px;text-align: center; font-size:25px;color: rgb(12, 11, 11); font-weight: 600;">Our Project</p>
</div>
</div>
<div class="container">
<div class="row">
  <div class="col-lg-4 col-md-6">
    <img src="./assets/i1.jpg" alt="" style="width: 100%;" class="prj">
  </div>
  <div class="col-lg-4 col-md-6">
    <img src="./assets/i2.jpg" a3lt="" width="100%" class="prj">
  </div>
  <div class="col-lg-4 col-md-6">
    <img src="./assets/i2.png" alt="" width="100%" class="prj">
  </div>
</div><br><br>
<div class="row">
  <div class="col-lg-4 col-md-6">
    <img src="./assets/18.jpg" alt="" style="width: 100%;" class="prj">
  </div>
  <div class="col-lg-4 col-md-6">
    <img src="./assets/i3.jpg" alt="" width="100%" class="prj">
  </div>
  <div class="col-lg-4 col-md-6">
    <img src="./assets/26.png" alt="" width="100%" class="prj">
  </div>

</div>
</div>
</div>