
.card{
    height: 300px;
    margin-top: 80px;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(15, 15, 15, 0.7) !important;
    }
.card-header{
    margin-top: 10px;

    }
 .form-control{
    height: 40px;
    margin-top: 10px;
    margin-bottom: auto;
    width: 30px;
 }
 .input-group-text{
    margin-left: 1px;
    margin-top: 10px;

 }
 .fas{
    margin-top: 10px;

 }
 .btnabout{
    background-color: rgb(255, 138, 0);
    color: #ffffff;
    border-radius: 50px;
    width: 20px;
    height: 45px;
    font-size: 18px;
    font-weight: 800;
    line-height: 30px;
    text-transform: capitalize;
    margin-left:96PX;
    margin-top:27px;
}
.btnabout:hover{
    background-color: rgba(19, 17, 20, 0.822);
     
}
.section1sub2{
    border: 20px solid grey;
    margin-top:0px;
    margin-bottom: 70px;
    margin-left:0px;
}
.section1sub{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 70px;

}
.nt{
    margin-left: 130px;

}
.warning{
   margin-top: 15px;
    font-size: 22px;

}