
<div id="section1">
    <div class="container ">
      <div class="row ">
        <div class="col-lg-6 col-md-12 section1sub">
          <img src="./assets/5.png" alt="" style="height: 500px; width: 430px;">
        </div>

        <div class="col-lg-6 col-md-12 section1sub2 ">
            <div class="container col-md-12 mt-0">
                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="text-center">SIGN IN</h3>
                            
                        </div>
                        <div class="card-body">
                            <form [formGroup]="loginform" (ngSubmit)="login()">
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" name="uid" formControlName="uid" placeholder="Uid"id="login_acno" required>
                                    
                              
                                <div class="warning"*ngIf="this.loginform.get('uid')?.touched&&this.loginform.get('uid')?.errors" style="color: red;">🚫</div>
                            </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control" name="pwd" formControlName="pwd" placeholder="Password" id="login_password" required>
                                
                                <div class="warning" *ngIf="this.loginform.get('pwd')?.touched&&this.loginform.get('pwd')?.errors" style="color: red;">🚫</div>
                            </div>
                                <div class="form-group">
                                    <input type="submit" value="Login" class="btnabout float-right login_btn " style="width:50%" >
                                </div>
                            </form>
                        </div>
                        <p class="nt"style="color:rgb(8, 8, 8);align-items:baseline;">Not a user? <a href="homepage/register">Register</a></p>
                    </div>
                </div>
            </div>

        </div>
      </div>
    </div>
  </div>

